**/appsettings.Development.json                              
**/bin/                                                      
**/obj/
.vscode/                                                     
.idea/          
*.user
.DS_Store
Thumbs.db